[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pdbpp = "*"
"flake8" = {ref = "9631dac5", git = "https://gitlab.com/pycqa/flake8", editable = true}
pyflakes = "==2.0.0"

[packages]
django = ">=2.0"
pyyaml = "*"
faker = "*"

[requires]
python_version = "3.7"
